

.cards{
    width: 750px;
    height: 600px;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.h-div{
    /* height: 50px; */
    /* border: 2px solid red; */
}
.line{
    width: 130px;
    border: 2.5px solid rgb(167 139 250 );
    justify-self: center;
    margin-top: -23px;
}
.card-parent{
    width: 100%;
    height: 80%;
}

@media(max-width:760px){
    .cards{
        margin : -50px;
    }
}
